<td>
  <%= f.fields_for :bed_prices, f.object.price_for_editing(dimension, has_decoration, has_rack) do |ff| %>
    <%= ff.hidden_field :id %>
    <%= ff.hidden_field :dimension_id %>
    <%= ff.hidden_field :has_decoration %>
    <%= ff.hidden_field :has_rack %>
    <%= ff.text_field :price %>
  <% end %>
</td>
