<h1>Editing bed '<%= @bed.name %>' prices</h1>

<%= form_for @bed, url: back_end_bed_prices_path(@bed) do |f| %>
  <% if @bed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bed.errors.count, "error") %> prohibited this bed from being saved:</h2>

      <ul>
      <% @bed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-stripped table-bordered table-hover">
    <tr>
      <th></th>
      <% @bed.dimensions.order(sequence: :asc).each do |dimension| %>
        <th>
          <%= dimension.name %>
        </th>
      <% end %>
    </tr>
    <%= render 'edit_prices_row', f: f, mode: 'edit', has_decoration: false, has_rack: false %>
    <%= render 'edit_prices_row', f: f, mode: 'edit', has_decoration: true,  has_rack: false %>
    <%= render 'edit_prices_row', f: f, mode: 'edit', has_decoration: false, has_rack: true  %>
    <%= render 'edit_prices_row', f: f, mode: 'edit', has_decoration: true,  has_rack: true  %>
  </table>

  <div class="actions">
    <%= f.submit value: 'Save changes', class: "btn btn-success" %>
    <% if @bed.persisted? %>
      <%= link_to 'Show', back_end_bed_prices_path(@bed), class: 'btn btn-default' %>
    <% end %>
    <%= link_to 'Back to bed', back_end_bed_path(@bed), class: 'btn btn-default' %>
  </div>
<% end %>
