<div class="main" id="inputform">
  <div class="innerBox">
    <%= form_for @bed_purchase, url: bed_bed_purchase_path(@bed, @bed_purchase.uid), html: {id: 'purchase-edit-form'} do |f| %>
      <% if @bed_purchase.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bed_purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

          <ul>
          <% @bed_purchase.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <h1 class="first">You are about to complete your order</h1>
      <div class="pirkumaRezume">
        <div class="box" id="bed">
          <%= image_tag @bed.main_thumb.file.w169.url, align: :left %>
          <h6>Bed model: </h6>
          <h5><%= @bed.name %></h5>
          <h6>Size: </h6>
          <h5><%= @bed_purchase.bed_price.dimension.name%></h5>
          <span class="clear" />
        </div><!-- end box -->

        <div class="box" id="linen">
          <% kit = @bed_purchase.bed_price.kit %>
          <%= image_tag kit.thumb.file.w169.url, align: :left %>
          <h5>Linen:</h5>
          <h6><%= lf(kit, :description) %></h6>
          <span class="clear" />
        </div>

        <!-- div class="btn_Remove">
          <a href="#">REMOVE ITEM from shopping cart</a>
        </div -->

      </div><!-- end.pirkumaRezume"-->

      <span class="clear" />

      <h2 style="border-top:1px solid #ccc; margin-top: 40px; padding-top:30px">Enter your data</h2>
      <table width="610" class="inputformTable">
        <tr>
          <td width="122">
            <label for="purchase-name">Name:</label>
          </td>
          <td width="471">
            <%= f.text_field :name, class: 'form-control', placeholder: '', id: 'purchase-name' %>
          </td>
        </tr>
        <tr>
          <td width="122">
            <label for="purchase-email">Email:</label>
          </td>
          <td width="471">
            <%= f.text_field :email, class: 'form-control', placeholder: '', id: 'purchase-email' %>
          </td>
        </tr>
        <tr>
          <td width="122">
            <label for="purchase-phone">Phone:</label>
          </td>
          <td width="471">
            <%= f.text_field :phone, class: 'form-control', placeholder: '', id: 'purchase-phone' %>
          </td>
        </tr>
        <tr>
          <td colspan="2"><img src="/images/css/line_dotted.gif" alt="" width="497" height="1" style="padding: 5px 0" /></td>
        </tr>
        <tr>
          <td width="122">
            <label for="purchase-address">Street address:</label>
          </td>
          <td width="471">
            <%= f.text_field :address, class: 'form-control', placeholder: '', id: 'purchase-address' %>
          </td>
        </tr>
        <tr>
          <td width="122">
            <label for="purchase-zip-code">Post Code:</label>
          </td>
          <td width="471">
            <%= f.text_field :zip_code, class: 'form-control', placeholder: '', id: 'purchase-zip-code' %>
          </td>
        </tr>
        <tr>
          <td width="122">
            <label for="purchase-city">City:</label>
          </td>
          <td width="471">
            <%= f.text_field :city, class: 'form-control', placeholder: '', id: 'purchase-city' %>
          </td>
        </tr>
        <tr>
          <td width="122">
            <label for="purchase-country">Country:</label>
          </td>
          <td width="471">
            <%= f.text_field :country, class: 'form-control', placeholder: '', id: 'purchase-country' %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.submit value: 'Complete order', class: "btn-style" %>
          </td>
        </tr>
      </table>
      <div style="border-top:1px solid #ccc; margin-top:40px" />

    <% end %>
  </div><!-- end.innerBox -->
</div><!-- end.main -->
