<%= form_for @bed_purchase, url: bed_bed_purchase_path(@bed, @bed_purchase.uid), html: {id: 'purchase-edit-form'} do |f| %>
  <% if @bed_purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bed_purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @bed_purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= @bed_purchase.inspect %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: '' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', placeholder: '' %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: 'form-control', placeholder: '' %>
  </div>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: 'form-control', placeholder: '' %>
  </div>

  <div class="actions">
    <%= f.submit value: t('edit_purchase'), class: "btn btn-success" %>
    <%= link_to 'Atpakaļ', :back, class: 'btn' %>
  </div>
<% end %>
