<%= form_for @thumb, url: url do |f| %>
  <% if @thumb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thumb.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @thumb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :file %>
    <%= f.file_field :file, class: 'form-control', placeholder: '' %>
    <% if f.object.file %>
      <%= image_tag f.object.file.small.url %>
    <% end %>
  </div>
  <div>
    <%= f.label :is_default %>
    <%= f.check_box :is_default, class: 'checkbox', placeholder: '' %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: '' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control', placeholder: '' %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
    <% if @thumb.persisted? %>
      <%= link_to 'Show', polymorphic_path([:back_end, @itemable, @thumbable, @thumb]), class: 'btn btn-default' %>
    <% end %>
    <%= link_to 'Images list', polymorphic_path([:back_end, @itemable, @thumbable, :thumbs]), class: 'btn btn-default' %>
  </div>
<% end %>
