<h1>Listing images</h1>

<table class="table table-stripped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nosaukums</th>
      <th>Apraksts</th>
      <th>Bilde</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thumbs.each do |thumb| %>
      <tr>
        <td><%= thumb.name %></td>
        <td><%= thumb.description %></td>
        <td><%= image_tag thumb.file.micro.url %></td>
        <td><%= index_show_link polymorphic_path([:back_end, @itemable, @thumbable, thumb]) %></td>
        <td><%= index_edit_link polymorphic_path([:edit, :back_end, @itemable, @thumbable, thumb]) %></td>
        <td><%= index_destroy_link polymorphic_path([:back_end, @itemable, @thumbable, thumb]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', polymorphic_path([:new, :back_end, @itemable, @thumbable, :thumb]), class: 'btn btn-default' %>
<%= link_to "Back to parent", polymorphic_path([:back_end, @itemable, @thumbable]), class: 'btn btn-default' %>
