<h1>Latest bed purchases</h1>

<table class="table table-stripped table-bordered table-hover">
  <thead>
    <tr>
      <th>State</th>
      <th>Item</th>
      <th>Dimension</th>
      <th>Kit</th>
      <th>Color</th>
      <th>Price</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Post code</th>
      <th>City</th>
      <th>Country</th>
      <th>Purchased at</th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <%- item = purchase.itemable %>
      <%- price = purchase.itemable_price %>
      <%- dimension = price.try :dimension %>
      <%- kit = purchase.kit %>
      <%- color = purchase.color %>
      <tr>
        <Td>
          <%= purchase.state == 'completed' ? 'Approved' : 'Not approved' %>
        </td>
        <td>
          <%= "#{item.class.name}: #{item.name}" %>
          <br />
          <% if item.main_thumb %>
            <%= image_tag item.main_thumb.file.w46.url %>
          <% end %>
        </td>
        <td><%= dimension.try :name %></td>
        <td>
          <%= kit.try :name_lv %>
          <br />
          <% if kit && @itemable.is_a?(Bed) %>
            <%= image_tag itemable.kit_image.file.w46.url %>
          <% end %>
        </td>
        <td>
          <% if color %>
            <%= color.try :name_lv %>
            <br />
            <% if color && color.thumb %>
              <%= image_tag color.thumb.file.w46.url %>
            <% end %>
          <% end %>
        </td>
        <td><%= price.try :price %></td>
        <td><%= purchase.name %></td>
        <td><%= purchase.email %></td>
        <td><%= purchase.phone %></td>
        <td><%= purchase.address %></td>
        <td><%= purchase.zip_code %></td>
        <td><%= purchase.city %></td>
        <td><%= purchase.country %></td>
        <td><%= l purchase.created_at, format: :short %></td>
      </tr>
    <% end %>
  </tbody>
</table>
