<div class="main" id="inputform">
  <div class="innerBox">
    <%= form_for @purchase, url: purchase_path(@purchase.uid), html: {id: 'purchase-edit-form'} do |f| %>
      <% if @purchase.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

          <ul>
          <% @purchase.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <h1 class="first"><%= t '.title' %></h1>
      <div class="pirkumaRezume">
        <%= render "#{@itemable.class.name.downcase}_resume", itemable: @itemable %>
      </div><!-- end.pirkumaRezume"-->

      <span class="clear" />

      <h2 style="border-top:1px solid #ccc; margin-top: 40px; padding-top:30px"><%= t '.enter_your_data' %></h2>
      <table width="610" class="inputformTable">
        <tr>
          <td width="122">
            <label for="purchase-name"><%= Purchase.human_attribute_name(:name) %>:</label>
          </td>
          <td width="471">
            <%= f.text_field :name, class: 'form-control', placeholder: '', id: 'purchase-name' %>
          </td>
        </tr>
        <tr>
          <td width="122">
            <label for="purchase-email"><%= Purchase.human_attribute_name(:email) %> *:</label>
          </td>
          <td width="471">
            <%= f.email_field :email, class: 'form-control', placeholder: '', id: 'purchase-email', required: true %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.submit value: t('.complete_order'), class: "btn-style" %>
          </td>
        </tr>
      </table>
      <div style="border-top:1px solid #ccc; margin-top:40px" />

    <% end %>
  </div><!-- end.innerBox -->
</div><!-- end.main -->
