<div class="main" id="home">
  <div class="innerBox">

    <div class="slider slides-container" data-images='["/images/slider/02.jpg","/images/slider/03.jpg","/images/slider/04.jpg","/images/slider/05.jpeg"]'>
      <img src="/images/slider/01.jpg" width="874" height="369" alt="Baudidesign.com" />
    </div><!-- end .slider -->

    <div class="leftCol">
      <div class="innerBox">
        <h1><%= t '.title' %></h1>
        <p><%= t '.about_us' %> </p>
        <p style="padding-top:13px; padding-bottom:13px;"><img src="/images/css/line_dotted.gif" width="497" height="1" /></p>

        <div class="quickLink">
          <div class="quickLinkBox">
            <div class="titleContainer">
              <h3><%= t '.beds' %></h3>
            </div>
            <a href="<%= beds_path %>"><img src="/images/slider/quickLinkBeds.jpg" width="244" height="164" /></a>
          </div>
          <div class="quickLinkBox">
            <div class="titleContainer">
              <h3><%= t '.linen' %></h3>
            </div>
            <a href="#"><img src="/images/slider/quickLinkLinen.jpg" width="244" height="164" /></a>
          </div>
          <span class="clear"></span>
        </div>

        <p class="oswald">
          <%= t('.take_a_look', link_to_beds: link_to(t('.link_to_beds'), beds_path), link_to_linen: link_to(t('.link_to_linen'), '#')).html_safe %>
        </p>
      </div>
    </div>

    <div class="rightCol">
      <div class="contactInfo">
        <h2 style="margin-bottom: -3px">
          <%= t '.contacts' %>
        </h2>

        <p style="color:#3e5d76; line-height: 1.5em;">
          <%= t '.contact_phone' %>
          <br />
          <%= t '.contact_mail' %>
        </p>
        <p style="font-style:italic; color:#757c81; font-size:13px">
          <%= t '.if_any_questions' %>
        </p>
        <p style="padding-top:30px; padding-bottom:13px;"><img src="/images/css/line_dotted.gif" width="497" height="1" /></p>

        <div class="sc_icons">
          <div class="fb">
            <a href="https://www.facebook.com/pages/BAUDI/1537569736475457"><img src="/images/css/ico_FB.gif" width="29" height="29" /></a>
          </div>
          <!-- div class="tw">
            <a href="https://twitter.com/baudibeds"><img src="/images/css/ico_TW.gif" width="29" height="29" /></a>
          </div>
          <div class="pin">
            <a href="http://www.pinterest.com/baudibeds/"><img src="/images/css/ico_PN.gif" width="29" height="29" /></a>
          </div -->
        </div>

      </div><!-- end.contactInfo -->
    </div><!-- end.rightCol -->

    <span class="clear"></span>

  </div><!-- end.innerBox -->
</div><!-- end.main -->
