<%= form_for @bed, url: url do |f| %>
  <% if @bed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bed.errors.count, "error") %> prohibited this bed from being saved:</h2>

      <ul>
      <% @bed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :code %>
    <%= f.text_field :code, class: 'form-control', placeholder: '' %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: '' %>
  </div>
  <div class="form-group">
    <%= f.label :sequence %>
    <%= f.number_field :sequence, class: 'form-control', placeholder: '' %>
  </div>
  <div>
    <%= f.label :has_decoration %>
    <%= f.check_box :has_decoration, class: 'checkbox', placeholder: '' %>
  </div>
  <div>
    <%= f.label :has_rack %>
    <%= f.check_box :has_rack, class: 'checkbox', placeholder: '' %>
  </div>
  <div class="form-group">
    <%= f.label :description_lv %>
    <%= f.text_field :description_lv, class: 'form-control', placeholder: '' %>
  </div>
  <div class="form-group">
    <%= f.label :description_ru %>
    <%= f.text_area :description_ru, class: 'form-control', placeholder: '' %>
  </div>
  <div class="form-group">
    <%= f.label :description_en %>
    <%= f.text_area :description_en, class: 'form-control', placeholder: '' %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
    <% if @bed.persisted? %>
      <%= link_to 'Show', back_end_bed_path(@bed), class: 'btn btn-default' %>
    <% end %>
    <%= link_to 'Beds list', back_end_beds_path, class: 'btn btn-default' %>
  </div>
<% end %>
