<div style="margin: 40px 0;">
  <%= link_to 'Edit', edit_back_end_bed_path(@bed), class: 'btn btn-primary' %>
  <%= link_to "Colors (#{@bed.colors.count})", back_end_bed_colors_path(@bed), class: 'btn btn-default' %>
  <%= link_to "Dimensions (#{@bed.dimensions.count})", back_end_bed_dimensions_path(@bed), class: 'btn btn-default' %>
  <%= link_to "Kits (#{@bed.kits.count})", back_end_bed_kits_path(@bed), class: 'btn btn-default' %>
  <%= link_to "Bed prices (#{@bed.bed_prices.count})", back_end_bed_prices_path(@bed), class: 'btn btn-default' %>
  <%= link_to "Kit prices (#{@bed.kit_prices.count})", back_end_bed_kit_prices_path(@bed), class: 'btn btn-default' %>
  <%= link_to "Images (#{@bed.thumbs.count})", polymorphic_path([:back_end, @itemable, @bed, :thumbs]), class: 'btn btn-default' %>
  <%= link_to 'Beds list', back_end_beds_path, class: 'btn btn-default' %>
</div>
