<h1>Listing beds</h1>

<table class="table table-stripped table-bordered table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Sequence</th>
      <th>Has decoration</th>
      <th>Has rack</th>
      <th>Description lv</th>
      <th>Description ru</th>
      <th>Description en</th>
      <th>Colors</th>
      <th>Kits</th>
      <th>Dimensions</th>
      <th>Images</th>
      <th>Bed Prices</th>
      <th>Kit Prices</th>
      <th>Main img</th>
      <th>Kit img</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @beds.each do |bed| %>
      <tr>
        <td><%= bed.code %></td>
        <td><%= bed.name %></td>
        <td><%= bed.sequence %></td>
        <td><%= human_boolean bed.has_decoration %></td>
        <td><%= human_boolean bed.has_rack %></td>
        <td><%= "#{bed.description_lv.try(:size) || 0 } characters long" %></td>
        <td><%= "#{bed.description_ru.try(:size) || 0 } characters long" %></td>
        <td><%= "#{bed.description_en.try(:size) || 0 } characters long" %></td>
        <td><%= link_to bed.colors.count, back_end_bed_colors_path(bed) %></td>
        <td><%= link_to bed.kits.count, back_end_bed_kits_path(bed) %></td>
        <td><%= link_to bed.dimensions.count, back_end_bed_dimensions_path(bed) %></td>
        <td><%= link_to bed.thumbs.count, polymorphic_path([:back_end, bed, :thumbs]) %></td>
        <td><%= link_to bed.bed_prices.count, back_end_bed_prices_path(bed) %></td>
        <td><%= link_to bed.kit_prices.count, back_end_bed_kit_prices_path(bed) %></td>
        <td>
          <% if bed.main_thumb %>
            <%= image_tag(bed.main_thumb.file.mini.url) %>
          <% end %>
        </td>
        <td>
          <% if bed.kit_image %>
            <%= image_tag(bed.kit_image.file.mini.url) %>
          <% end %>
        </td>
        <td><%= index_show_link back_end_bed_path(bed) %></td>
        <td><%= index_edit_link edit_back_end_bed_path(bed) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bed', new_back_end_bed_path, class: 'btn btn-default' %>
