<%= render 'show_buttons' %>

<p>
  <strong>Code:</strong>
  <%= @bed.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bed.name %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @bed.sequence %>
</p>

<p>
  <strong>Has decoration:</strong>
  <%= @bed.has_decoration %>
</p>

<p>
  <strong>Has rack:</strong>
  <%= @bed.has_rack %>
</p>

<p>
  <strong>Description lv:</strong>
  <%= rich_text @bed.description_lv %>
</p>

<p>
  <strong>Description ru:</strong>
  <%= rich_text @bed.description_ru %>
</p>

<p>
  <strong>Description en:</strong>
  <%= rich_text @bed.description_en %>
</p>

<% if @bed.main_thumb %>
  <p>
    <strong>Lielā bilde:</strong>
    <%= image_tag @bed.main_thumb.file.w280.url %>
  </p>
<% end %>

<%= render 'show_buttons' %>
