<h1>Bed '<%= @bed.name %>' kit prices</h1>

<%= form_for @bed, url: back_end_bed_kit_prices_path(@bed) do |f| %>
  <table class="table table-stripped table-bordered table-hover">
    <tr>
      <th></th>
      <% @bed.kits.order(sequence: :asc).each do |kit| %>
        <th>
          <%= kit.name %>
        </th>
      <% end %>
    </tr>
    <% @bed.dimensions.order(sequence: :asc).each do |dimension| %>
      <%= render 'edit_prices_row', f: f, dimension: dimension, mode: 'show' %>
    <% end %>
  </table>
<% end %>

<%= link_to 'Edit kit prices', edit_back_end_bed_kit_prices_path(@bed), class: 'btn btn-primary' %>
<%= link_to 'Back to bed', back_end_bed_path(@bed), class: 'btn btn-default' %>
