<%= form_for @kit, url: url do |f| %>
  <% if @kit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kit.errors.count, "error") %> prohibited this kit from being saved:</h2>

      <ul>
      <% @kit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name_lv %>
    <%= f.text_field :name_lv, class: 'form-control', placeholder: '' %>
  </div>
  <div class="form-group">
    <%= f.label :name_en %>
    <%= f.text_field :name_en, class: 'form-control', placeholder: '' %>
  </div>
  <div class="form-group">
    <%= f.label :name_ru %>
    <%= f.text_field :name_ru, class: 'form-control', placeholder: '' %>
  </div>
  <div>
    <%= f.label :is_default %>
    <%= f.check_box :is_default, class: 'checkbox', placeholder: '' %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
    <% if @kit.persisted? %>
      <%= link_to 'Show', polymorphic_path([:back_end, @itemable, @kit]), class: 'btn btn-default' %>
    <% end %>
    <%= link_to 'Kits list', polymorphic_path([:back_end, @itemable, :kits]), class: 'btn btn-default' %>
  </div>
<% end %>
