<h1>Listing kits</h1>

<table class="table table-stripped table-bordered table-hover">
  <thead>
    <tr>
      <th>Latviski</th>
      <th>Angliski</th>
      <th>Krieviski</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kits.each do |kit| %>
      <tr>
        <td><%= kit.name_lv %></td>
        <td><%= kit.name_en %></td>
        <td><%= kit.name_ru %></td>
        <td><%= index_show_link polymorphic_path([:back_end, @itemable, kit]) %></td>
        <td><%= index_edit_link polymorphic_path([:edit, :back_end, @itemable, kit]) %></td>
        <td><%= index_destroy_link polymorphic_path([:back_end, @itemable, kit]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kit', polymorphic_path([:new, :back_end, @itemable, :kit]), class: 'btn btn-default' %>
<%= link_to "Back to master", polymorphic_path([:back_end, @itemable]), class: 'btn btn-default' %>
