<p id="notice"><%= notice %></p>

<p>
  <strong>Latviski:</strong>
  <%= @kit.name_lv %>
</p>

<p>
  <strong>Angliski:</strong>
  <%= @kit.name_en %>
</p>

<p>
  <strong>Krieviski:</strong>
  <%= @kit.name_ru %>
</p>

<p>
  <strong>Is Default selection:</strong>
  <%= human_boolean @kit.is_default %>
</p>

<%= link_to 'Edit', polymorphic_path([:edit, :back_end, @itemable, @kit]), class: 'btn btn-primary' %>
<%= link_to "Image (max 1)", polymorphic_path([:back_end, @itemable, @kit, :thumbs]), class: 'btn btn-default' %>
<%= link_to 'Kits list', polymorphic_path([:back_end, @itemable, :kits]), class: 'btn btn-default' %>
