<p id="notice"><%= notice %></p>

<p>
  <strong>Īsais LV:</strong>
  <%= @kit.name_lv %>
</p>

<p>
  <strong>Īsais EN:</strong>
  <%= @kit.name_en %>
</p>

<p>
  <strong>Īsais RU:</strong>
  <%= @kit.name_ru %>
</p>

<p>
  <strong>Is Default selection:</strong>
  <%= human_boolean @kit.is_default %>
</p>

<% if @kit.thumb %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @kit.thumb.file.w93.url %>
  </p>
<% end %>

<p>
  <strong>Apraksts LV:</strong>
  <%= @kit.description_lv %>
</p>

<p>
  <strong>Apraksts EN:</strong>
  <%= @kit.description_en %>
</p>

<p>
  <strong>Apraksts RU:</strong>
  <%= @kit.description_ru %>
</p>

<%= link_to 'Edit', polymorphic_path([:edit, :back_end, @itemable, @kit]), class: 'btn btn-primary' %>
<%= link_to "Image (max 1)", polymorphic_path([:back_end, @itemable, @kit, :thumbs]), class: 'btn btn-default' %>
<%= link_to 'Kits list', polymorphic_path([:back_end, @itemable, :kits]), class: 'btn btn-default' %>
