<%= form_for @dimension, url: url do |f| %>
  <% if @dimension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dimension.errors.count, "error") %> prohibited this dimension from being saved:</h2>

      <ul>
      <% @dimension.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: '' %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
    <% if @dimension.persisted? %>
      <%= link_to 'Show', polymorphic_path([:back_end, @itemable, @dimension]), class: 'btn btn-default' %>
    <% end %>
    <%= link_to 'Dimensions list', polymorphic_path([:back_end, @itemable, :dimensions]), class: 'btn btn-default' %>
  </div>
<% end %>
