<h1>Listing beds</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Sequence</th>
      <th>Has decoration</th>
      <th>Has rack</th>
      <th>Description lv</th>
      <th>Description ru</th>
      <th>Description en</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @beds.each do |bed| %>
      <tr>
        <td><%= bed.code %></td>
        <td><%= bed.name %></td>
        <td><%= bed.sequence %></td>
        <td><%= bed.has_decoration %></td>
        <td><%= bed.has_rack %></td>
        <td><%= bed.description_lv %></td>
        <td><%= bed.description_ru %></td>
        <td><%= bed.description_en %></td>
        <td><%= link_to 'Show', bed %></td>
      </tr>
    <% end %>
  </tbody>
</table>
