<% content_for :javascript_includes do %>
  <%= javascript_include_tag "beds" %>
<% end %>

<% bed_prices_json        = bed_prices_for_data(@bed) %>
<% kit_prices_json        = bed_kit_prices_for_data(@bed) %>
<% decoration_prices_json = decoration_prices_for_data(@bed) %>
<%= form_for @purchase, url: bed_purchases_path(@bed), data: {bed_prices: bed_prices_json, kit_prices: kit_prices_json, decoration_prices: decoration_prices_json}, html: {id: 'bed-purchase-form'} do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" id="bp-price-id" class="bp-price-id" name="price_id" />
  <input type="hidden" id="bp-kit-price-id" class="bp-kit-price-id" name="purchase[kit_price_id]" />

  <div class="main" id="shop-item">
    <div class="leftCol">
      <div class="innerBox">
        <h1 class="dynamic"><%= @bed.name %></h1>
        <p style="margin-top:-10px; padding-bottom:13px;"><img src="/images/css/line_dotted.gif" width="497" height="1" /></p>
        <div class="shop_thumbs_img">
          <input type="hidden" id="bp-color" class="bp-color" name="purchase[color_id]" value="" />
          <% if @bed.colors.exists? %>
            <% @bed.colors.order(sequence: :asc).each_slice(5) do |colors| %>
              <div>
                <% colors.each do |color| %>
                  <a href="<%= color.thumbs.first.file.w200.url %>" data-color-id="<%= color.id %>" data-color-name="<%= lf(color, :name) %>" class="bp-color-changer <%= 'bp-color-selected' if color.id == @purchase.color_id %>"><%- if color.thumbs.first -%><%= image_tag color.thumbs.first.file.w46.url, alt: lf(color, :name) %><%- end -%></a>
                <% end %>
              </div>
            <% end %>
          <% end %>

          <p>
            <span class="dynamic">
              <%= t '.color_scheme' %>:
            </span>
            <span class="dynamic" id="selected-color-name"></span>
          </p>
        </div>
        <!--end.shop_thumbs_img -->

        <p>
          <img src="/images/css/line_dotted.gif" width="497" height="1" />
        </p>

        <div class="shop_size_selector" style="background-color: #fafafa;">
          <h3>
            <%= t '.bed_size' %> (<span class="dynamic" id="selected-dimension-name"></span>)
          </h3>

          <table width="320" border="0">
            <tr>
              <% @bed.dimensions.order(sequence: :asc).each do |dim| %>
                <td>
                  <input type="radio" id="dim-<%= dim.id %>" class="bp-dimension bp-changer css-checkbox" id="checkboxG4" name="dimension" value="<%= dim.id %>" <%= 'checked="checked"' if dim.is_default? %> data-name="<%= dim.name %>" />
                  <label for="dim-<%= dim.id %>" class="css-label radGroup2"><%= dim.short_name %></label>
                </td>
              <% end %>
            </tr>
            <tr>
              <td colspan="3" class="chekbox">

                <input type="checkbox" class="bp-has-rack bp-changer css-checkbox-off" name="has_rack" value="" id="bp-has-rack" />
                <label for="bp-has-rack" class="css-label"><%= t '.has_rack' %></label>
              </td>
            </tr>
          </table>
        </div>

        <p><img src="/images/css/line_dotted.gif" width="497" height="1" /></p>

        <div class="linenSelect">
          <% default_kit = @bed.kits.order(is_default: :asc, sequence: :asc).first %>
          <input type="hidden" id="bp-kit" class="bp-kit bp-changer" name="kit" value="<%= default_kit.try(:id) %>" />

          <% if @bed.kit_image %>
            <%= image_tag(@bed.kit_image.file.w150.url, class: "decoLinenImg") %>
          <% end %>

          <% if @bed.has_decoration? %>
            <table class="linenSelect">
              <tr>
                <td colspan="3" class="chekbox--Z">
                  <input type="checkbox" class="bp-has-decoration bp-changer css-checkbox" name="has_decoration" value="" id="bp-has-decoration" />
                  <label for="bp-has-rack"><%= t('.include_decorative_cover') %></label>
                </td>
              </tr>
                <tr>
                <td class="and"><img src="/images/and_imgL.gif"  height="7" /><%= t('.and') %><img src="/images/and_imgR.gif" width="43" height="7" /></td>
                </tr>
            </table> <!---->
          <% end %>

          <% if @bed.kits.count > 1 %>
            <table class="linenSelect">
              <% @bed.kits.order(sequence: :asc).each do |kit| %>
                <tr>
                <td>
                  <input type="radio" name="radiog_dark2" id="kit<%= kit.id %>" class="css-checkbox bp-kit-changer" data-kit-id="<%= kit.id %>" data-kit-description="<%= lf(kit, :description) %>" <%= kit == default_kit ? 'checked' : '' %> />
                  <label for="kit<%= kit.id %>" class="css-label radGroup3"><%= lf(kit, :name) %></label>
                </td>
                </tr>
              <% end %>
              </table>
          <% end %>
        </div><!-- end linenSelect -->

        <p><img src="/images/css/line_dotted.gif" width="497" height="1" /></p>

        <div class="cena">
          <table width="303" border="0">
            <tr class="bed">
              <td class="txt" width="220"><%= t '.bed_price' %>:</td>
              <td class="sum" width="auto">
                € <span id='bed-price'></span>
              </td>
            </tr>
            <% if @bed.has_decoration? %>
              <tr class="bed">
                <td class="txt"><%= t '.decoration_price' %>:</td>
                <td class="sum">
                  € <span id='decoration-price'></span>
                </td>
              </tr>
            <% end %>
            <tr class="linen">
              <td class="txt"><%= t '.kit_price' %>:</td>
              <td class="sum">
                € <span id='kit-price'></span>
              </td>
            </tr>
            <tr class="totalCost">
              <td class="txt"><%= t '.total_price' %>:</td>
              <td class="sum">
                € <span id='actual-price-price'></span>
              </td>
            </tr>
          </table>
        </div>
        <%= f.submit value: t('create_purchase'), class: "btn-style" %>
        <div class="subNav">
          <ul>
            <li><a href="#"><%= t '.more_info' %></a></li>
          </ul>
        </div>
      </div>
      <!-- end.innerBox -->
    </div>
    <!-- end.leftCol -->


    <div class="rightCol">
      <div class="innerBox">
        <div class="breadcrumbs"><%= link_to t('.all_beds'), beds_path %> / <%= @bed.name %></div>
        <div id="bed-images-container" class="gallery" style="padding: 10px 0 0 0">
          <div class="gallery_img">
            <% if @bed.thumbs.any? %>
              <%= link_to image_tag(@bed.main_thumb.file.w510.url), @bed.main_thumb.file.w800.url, target: '_blank', data: {gallery: '#blueimp-gallery'} %>
              <!-- <%= image_tag(@bed.main_thumb.file.w510.url) %> -->
            <% end %>
          </div>
          <div class="gallery_th">
            <% if @bed.thumbs.any? %>

              <% images = @bed.thumbs.where(is_kit_image: false).to_a - [@bed.main_thumb] %>
              <% images.each do |thumb| %>
                <%= link_to image_tag(thumb.file.w60.url), thumb.file.w800.url, target: '_blank', data: {gallery: '#blueimp-gallery'} %>
                <!-- <%= image_tag(thumb.file.w60.url) %> -->
              <% end %>
            <% end %>
          </div>
        </div>
        <div id="blueimp-gallery" class="blueimp-gallery">
          <div class="slides"></div>
          <h3 class="title"></h3>
          <a class="prev">‹</a>
          <a class="next">›</a>
          <a class="play-pause"></a>
          <ol class="indicator"></ol>
        </div>

        <!-- end gallery-->


        <div class="descr">
          <%= rich_text lf(@bed, :description) %>
        </div>
      </div>
      <!-- end.innerBox -->
    </div>
    <!-- end.rightCol -->
    <span class="clear"></span>
  </div>
  <!-- end.main -->
<% end %>
