<% bed_prices_json = bed_prices_for_data(@bed) %>
<%= form_for @bed_purchase, url: bed_bed_purchases_path(@bed), data: {bed_prices: bed_prices_json}, html: {id: 'purchase-form'} do |f| %>
  <% if @bed_purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bed_purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @bed_purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="actual-price">
    Cena: <span id='actual-price-price'>???</span> EUR

  <input type="hidden" id="bp-price-id" class="bp-price-id" name="bed_purchase[bed_price_id]" />

  <% @bed.dimensions.order(name: :asc).each do |dim| %>
    <%= dim.name %>
    <input type="radio" class="bp-dimension bp-changer" name="dimension" value="<%= dim.id %>" <%= 'checked="checked"' if dim.is_default? %> />
  <% end %>

  <% default_kit = @bed.kits.where(is_default: true).first %>
  <input type="hidden" id="bp-kit" class="bp-kit bp-changer" name="kit" value="<%= default_kit.try(:id) %>" />
  <% if @bed.kits.count > 1 %>
    <% @bed.kits.order(is_default: :asc, name_lv: :asc).each do |kit| %>
      <a href="#" data-kit-id="<%= kit.id %>" class="bp-kit-changer <%= 'bp-kit-selected' if kit.is_default? %>">
        <% thumb = kit.thumbs.first %>
        <% if thumb %>
          <%= image_tag thumb.file.mini.url %>
        <% end %>
        <%= kit.name_lv %>
      </a>
    <% end %>
  <% end %>

  <input type="hidden" id="bp-color" class="bp-color" name="bed_purchase[color_id]" value="" />
  <% if @bed.colors.exists? %>
    <% @bed.colors.order(name_lv: :asc).each do |color| %>
      <a href="#" data-color-id="<%= color.id %>" class="bp-color-changer <%= 'bp-color-selected' if color.id == @bed_purchase.color_id %>">
        <% thumb = color.thumbs.first %>
        <% if thumb %>
          <%= image_tag thumb.file.mini.url %>
        <% end %>
        <%= color.name_lv %>
      </a>
    <% end %>
  <% end %>

  <label for="bp-has-decoration">Ir dekorācija</label>
  <input type="checkbox" class="bp-has-decoration bp-changer" name="has_decoration" value="" id="bp-has-decoration" />

  <label for="bp-has-rack">Ir režģis</label>
  <input type="checkbox" class="bp-has-rack bp-changer" name="has_rack" value="" id="bp-has-rack" />

  <div class="actions">
    <%= f.submit value: t('create_purchase'), class: "btn btn-success" %>
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @bed.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bed.name %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @bed.sequence %>
</p>

<p>
  <strong>Has decoration:</strong>
  <%= @bed.has_decoration %>
</p>

<p>
  <strong>Has rack:</strong>
  <%= @bed.has_rack %>
</p>

<p>
  <strong>Description lv:</strong>
  <%= @bed.description_lv %>
</p>

<p>
  <strong>Description ru:</strong>
  <%= @bed.description_ru %>
</p>

<p>
  <strong>Description en:</strong>
  <%= @bed.description_en %>
</p>
