<% bed_prices_json = bed_prices_for_data(@bed) %>
<%= form_for @bed_purchase, url: bed_bed_purchases_path(@bed), data: {bed_prices: bed_prices_json}, html: {id: 'purchase-form'} do |f| %>
  <% if @bed_purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bed_purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @bed_purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" id="bp-price-id" class="bp-price-id" name="bed_purchase[bed_price_id]" />

  <!-- label for="bp-has-decoration">Ir dekorācija</label-->
  <input type="hidden" class="bp-has-decoration bp-changer" name="has_decoration" value="" id="bp-has-decoration" />

  <div class="main" id="shop-item">
    <div class="leftCol">
      <div class="innerBox">
        <h1 class="dynamic"><%= @bed.name %></h1>
        <p style="margin-top:-10px; padding-bottom:13px;"><img src="/images/css/line_dotted.gif" width="497" height="1" /></p>
        <div class="shop_thumbs_img">
          <input type="hidden" id="bp-color" class="bp-color" name="bed_purchase[color_id]" value="" />
          <% if @bed.colors.exists? %>
            <% @bed.colors.order(located_field_name(:name) => :asc).each_slice(5) do |colors| %>
              <div>
                <% colors.each do |color| %>
                  <a href="#" data-color-id="<%= color.id %>" data-color-name="<%= lf(color, :name) %>" class="bp-color-changer <%= 'bp-color-selected' if color.id == @bed_purchase.color_id %>">
                    <% thumb = color.thumbs.first %>
                    <% if thumb %>
                      <%= image_tag thumb.file.w46.url, alt: lf(color, :name) %>
                    <% end %>
                  </a>
                <% end %>
              </div>
            <% end %>
          <% end %>

          <p>
            <span class="dynamic">
              <%= t '.color_scheme' %>:
            </span>
            <span class="dynamic" id="selected-color-name"></span>
          </p>
        </div>
        <!--end.shop_thumbs_img -->

        <p>
          <img src="/images/css/line_dotted.gif" width="497" height="1" />
        </p>
        <div class="shop_size_selector" style="background-color: #fafafa;">
          <h3>
            <%= t '.bed_size' %> (<span class="dynamic" id="selected-dimension-name"></span>)
          </h3>

          <table width="320" border="0">
            <tr>
              <% @bed.dimensions.order(name: :asc).each do |dim| %>
                <td>
                  <input type="radio" id="dim-<%= dim.id %>" class="bp-dimension bp-changer css-checkbox" name="dimension" value="<%= dim.id %>" <%= 'checked="checked"' if dim.is_default? %> data-name="<%= dim.name %>" />
                  <label for="dim-<%= dim.id %>" class="css-label radGroup2"><%= dim.short_name %></label>
                </td>
              <% end %>
            </tr>
            <tr>
              <td colspan="3" class="chekbox">

                <input type="checkbox" class="bp-has-rack bp-changer css-checkbox-off" name="has_rack" value="" id="bp-has-rack" />
                <label for="bp-has-rack" class="css-label"><%= t '.has_rack' %></label>
              </td>
            </tr>
          </table>
        </div>
        <p><img src="/images/css/line_dotted.gif" width="497" height="1" /></p>
        <div class="linenSelect">
          <% default_kit = @bed.kits.where(is_default: true).first %>
          <input type="hidden" id="bp-kit" class="bp-kit bp-changer" name="kit" value="<%= default_kit.try(:id) %>" />
          <% if @bed.kits.count > 1 %>
            <% @bed.kits.order(:is_default => :asc, located_field_name(:name) => :asc).each do |kit| %>
              <div class="linenSelectBox">
                <a href="#" data-kit-id="<%= kit.id %>" data-kit-description="<%= lf(kit, :description) %>" class="bp-kit-changer <%= 'bp-kit-selected' if kit.is_default? %>">
                  <% thumb = kit.thumbs.first %>
                  <% if thumb %>
                    <%= image_tag thumb.file.w93.url %>
                  <% else %>
                    <%= lf(kit, :name) %>
                  <% end %>
                </a>
                <br />
                <%= lf(kit, :name) %>
              </div>
            <% end %>
          <% end %>
          <div class="clear"></div>
          <p id="selected-kit-description">
            <%= lf(default_kit, :description) %>
          </p>
        </div>
        <!-- end linen -->
        <p><img src="/images/css/line_dotted.gif" width="497" height="1" /></p>
        <div class="cena">
          <table width="303" border="0">
            <!-- tr class="bed">
              <td class="txt" width="52">Bed:</td>
              <td class="sum" width="273">€ 2300</td>
            </tr>
            <tr class="linen">
              <td class="txt">Linen:</td>
              <td class="sum">€ 300</td>
            </tr -->
            <tr class="totalCost">
              <td class="txt"><%= t '.total_price' %>:</td>
              <td class="sum">
                € <span id='actual-price-price'>???</span>
              </td>
            </tr>
          </table>
        </div>
        <%= f.submit value: t('create_purchase'), class: "btn-style" %>
        <div class="subNav">
          <ul>
            <li><a href="#"><%= t '.more_info' %></a></li>
          </ul>
        </div>
      </div>
      <!-- end.innerBox -->
    </div>
    <!-- end.leftCol -->


    <div class="rightCol">
      <div class="innerBox">
        <div class="breadcrumbs"><%= link_to t('.all_beds'), beds_path %> / <%= @bed.name %></div>
        <div id="bed-images-container" class="gallery" style="padding: 10px 0 0 0">
          <div class="gallery_img">
            <% if @bed.thumbs.any? %>
              <%= link_to image_tag(@bed.main_thumb.file.w510.url), @bed.main_thumb.file.w800.url, target: '_blank', data: {gallery: '#blueimp-gallery'} %>
              <!-- <%= image_tag(@bed.main_thumb.file.w510.url) %> -->
            <% end %>
          </div>
          <div class="gallery_th">
            <% if @bed.thumbs.any? %>

              <% images = @bed.thumbs.to_a - [@bed.main_thumb] %>
              <% images.each do |thumb| %>
                <%= link_to image_tag(thumb.file.w60.url), thumb.file.w800.url, target: '_blank', data: {gallery: '#blueimp-gallery'} %>
                <!-- <%= image_tag(thumb.file.w60.url) %> -->
              <% end %>
            <% end %>
          </div>
        </div>
        <div id="blueimp-gallery" class="blueimp-gallery">
          <div class="slides"></div>
          <h3 class="title"></h3>
          <a class="prev">‹</a>
          <a class="next">›</a>
          <a class="play-pause"></a>
          <ol class="indicator"></ol>
        </div>

        <!-- end gallery-->


        <%= rich_text lf(@bed, :description) %>
      </div>
      <!-- end.innerBox -->
    </div>
    <!-- end.rightCol -->
    <span class="clear"></span>
  </div>
  <!-- end.main -->
<% end %>
