<h1>Listing colors</h1>

<table class="table table-stripped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name lv</th>
      <th>Name en</th>
      <th>Name ru</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colors.each do |color| %>
      <tr>
        <td><%= color.name_lv %></td>
        <td><%= color.name_en %></td>
        <td><%= color.name_ru %></td>
        <td>
          <% if color.thumb %>
            <%= image_tag color.thumb.file.w46.url %>
          <% end %>
        </td>
        <td><%= index_show_link back_end_bed_color_path(@itemable, color) %></td>
        <td><%= index_edit_link edit_back_end_bed_color_path(@itemable, color) %></td>
        <td><%= index_destroy_link back_end_bed_color_path(@itemable, color) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Color', new_back_end_bed_color_path(@itemable), class: 'btn btn-default' %>
<%= link_to "Back to master", polymorphic_path([:back_end, @itemable]), class: 'btn btn-default' %>
