<%# add navigation links to this file %>
<li><%= link_to 'Gultas', back_end_beds_path %></li>
<li><%= link_to 'Komplekti', back_end_linens_path %></li>
<li><%= link_to 'Pasūtījumi', back_end_bed_purchases_path %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>
