<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= content_for?(:title) ? yield(:title) : "BAUDIDESIGN" %></title>

    <% if I18n.locale == :ru %>
      <link href='http://fonts.googleapis.com/css?family=Kelly+Slab|Roboto+Slab&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <% else %>
      <link href='http://fonts.googleapis.com/css?family=Dosis:500,700|Oswald:400,300|Open+Sans&subset=latin-ext' rel='stylesheet' type='text/css'>
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :additional_css %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Baudi design beds and linens" %>">
  </head>

  <% body_id = I18n.locale == :ru ? 'ru' : 'lv' %>
  <body id="<%= body_id %>">
    <div class="wrapper">
      <%= render 'layouts/header' %>

      <%= yield %>
    </div>
    <!-- end.wrapper -->
    <%= javascript_include_tag 'application' %>
    <%= yield :javascript_includes %>
  </body>
</html>
